*{
    margin: 0px;
    padding: 0px;
}

/*Estilização do cabeçalho*/

header{
    min-width: 100%;
    overflow: hidden;
    height: 90px;
    background-color: #161b22;
    position: fixed;
}

#conteudoCabecalho{
    width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    
}

#logoMarca{
    width: 120px;
    height: 85px;
    margin-left: 50px;
}

#logo{
    width: 120px;
    height: 85px;
}

#menu{
    width: 630px;
    height: 85px;
    margin-left: 50px;
    box-sizing: border-box;
}

#menuPrincipal{
    list-style: none;
    box-sizing: border-box;
    margin-top: 20px;
}

.itemListaPrincipal{
    float: left;
    height: 40px;
    width: 120px;
    margin-right: 5px;
    margin-right: 5px;
    text-align: center;
    font-family: verdana;
    font-size: 1em;
    color: white;
    padding-top: 10px;
    box-sizing: border-box;
}

.itemListaPrincipal:hover{
    height: 40px;
    width: 120px;
    text-align: center;
    font-family: verdana;
    font-size: 1.1em;
    cursor: pointer;
    padding-top: 8px;
}

#redesSociais{
    width: 160px;
    height: 85px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.divRedesSociais{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.redesSociais{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/*Estilização do corpo*/

main{
    min-width: 100%;
    min-height: 3600px;
    overflow: hidden;
    background-color: #15243B;
}

#banner{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-image: url(img/banner.jpg);
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: bottom;
}

#conteudoCorpo{
    width: 1200px;
    min-height: 700px;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

#linhaMenuPesquisa{
    width: inherit;
    height: 60px;
    box-sizing: border-box;
    margin-top: 30px;
}

#menuHamburguer{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    float: left;
}

#imgMenu{
    width: 60px;
    height: 60px;
}

#menuHamburguer:hover{
    cursor: pointer;
}

#menuHamburguer:hover > #subMeuHamburguer{
    opacity: 1;
    visibility: visible;
    transition: 1s;
}

#subMeuHamburguer{
    min-width: 610px;
    width: auto;
    overflow: hidden;
    height: 100px;
    margin-top: -60px;
    margin-left: 60px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
}

#listaGeneros{
    width: inherit;
    height: inherit;
    list-style: none;
}

.itemListaSubMenu{
    width: 100px;
    height: 50px;
    float: left;
    padding-top: 12px;
    color: white;
    font-family: verdana;
    box-sizing: border-box;
    text-align: center;
}

.itemListaSubMenu:hover{
    height: 50px;
    width: 80px;
    text-align: center;
    font-family: verdana;
    font-size: 1.1em;
    cursor: pointer;
    padding-top: 10px;
}

#pesquisar{
    width: 520px;
    height: 30px;
    float: right;
    margin-top: 10px;
    padding-top: 4px;
    box-sizing: border-box;
}

label{
    font-family: verdana;
    font-size: 1em;
    color: white;
}

#barraPesquisa{
    width: 350px;
    height: 20px;
    padding-left: 5px;
}

#botaoPesquisa{
    width: 70px;
    height: 25px;
    background-color: #26446E;
    font-family: verdana;
    color: white;
    border-style: hidden;
}

#botaoPesquisa:hover{
    cursor: pointer;
}

#apresentacaoJogos{
    width: 1200px;
    height: auto;
    min-height: 550px;
    overflow: hidden;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.jogos{
    width: 350px;
    height: 500px;
    background-color: cadetblue;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-top: 25px;
    box-shadow: 0 0 5px 2px #000000;
}

.imgJogo{
    width: inherit;
    height: 300px;
    background-color: red;
}

.capaJogo{
    width: inherit;
    height: 300px;
}

.infoJogo{
    width: inherit;
    min-height: 200px;
    height: auto;
    overflow: hidden;
    background-color: #26446E;
}

h2{
    color: white;
    font-family: verdana;
    margin-left: 10px;
    margin-top: 5px;
}

.txtInfoJogo{
    width: 100px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: verdana;
    font-size: 0.9em;
}

.generos{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: verdana;
    font-size: 0.9em;
}

.saibaMais{
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #7994BA;
    color: white;
    font-family: verdana;
    font-size: 1.1em;
    text-align: center;
    box-sizing: border-box;
    padding-top: 13px;
    border-radius: 10px;
    float: left;
}

.saibaMais:hover{
    width: 120px;
    height: 50px;
    cursor: pointer;
    border: 2px solid white;
    padding-top: 11px;
}

.valor{
    width: 120px;
    height: 50px;
    margin-left: 60px;
    margin-top: 20px;
    background-color: #7994BA;
    color: white;
    font-family: verdana;
    font-size: 1.1em;
    text-align: center;
    box-sizing: border-box;
    padding-top: 13px;
    border-radius: 10px;
    float: left;
}

.valor:hover{
    cursor: pointer;
    border: 2px solid white;
    padding-top: 11px;
}

#mainEmpresa{
    width: 100%;
    height: 600px;
    background-color: #47576E;
    padding-top: 10px;
    margin-top: 60px;
}

#corpoEmpresa{
    width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

h1{
    color: white;
    font-family: verdana;
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.sobreEmpresa{
    width: 1000px;
    height: 400px;
    text-align: left;
    color: white;
    font-family: verdana;
    font-size: 1.1em;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 50px;
    line-height: 30px;
}

#mainPromocoes{
    width: 100%;
    min-height: 650px;
    height: auto;
    overflow: hidden;
    background-color: #15243B;
    padding-top: 10px;
    margin-top: 60px;
}

#corpoPromocoes{
    width: 1200px;
    min-height: 650px;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#apresentacaoPromocoes{
    width: 1200px;
    min-height: 550px;
    height: auto;
    overflow: hidden;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.valorPromocoes{
    text-decoration: line-through;
    font-size: 0.6em;
    text-align: left;
    padding-left: 7px;
    margin-top: -5px;
    box-sizing: border-box;
}

#mainDestaques{
    width: 100%;
    min-height: 550px;
    height: auto;
    overflow: hidden;
    background-color: #26446E;
    padding-top: 10px;
    margin-top: 60px;
}

#corpoDestaques{
    width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#destaques{
    width: 100%;
    height: 250px;
    box-sizing: border-box;
}

.circuloDestaques{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    background-color: #7994BA;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.circuloJogo{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.circuloDestaques:hover{
    cursor: pointer;
    width: 240px;
    height: 240px;
    border: 5px solid white;
}

#mainInformacoes{
    width: 100%;
    height: 400px;
    background-color: #15243B;
}

#corpoInformacoes{
    width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

#lojas{
    width: 600px;
    height: 450px;
    float: left;
}

.endereco{
    width: 600px;
    height: 100px;
    margin-left: 10px;
}

h3{
    color: white;
    font-family: verdana;
    margin-left: 10px;
    margin-bottom: 30px;
}

.imgEndereco{
    width: 90px;
    height: 110px;
    float: left;
}

.imgLocal{
    width: 40px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
}

.imgLocal:hover{
    cursor: pointer;
    width: 50px;
    height: 70px;
    transition: 2s;
}

.rua{
    margin-left: 10px;
    width: 450px;
    height: 60px;
    float: left;
    color: white;
    font-family: verdana;
}

.telefone{
    margin-left: 10px;
    width: 450px;
    height: 50px;
    float: left;
    color: white;
    font-family: verdana;
}

#contatos{
    width: 500px;
    height: 300px;
    float: right;
}

#frmContatos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputContatos{
    width: 400px;
    height: 25px;
    margin: 5px;
}

#btnContatos{
    width: 70px;
    height: 25px;
    background-color: #26446E;
    font-family: verdana;
    color: white;
    border-style: hidden;
    margin: 5px;
}

footer{
    height: 100px;
    background-color: #161b22;
    color: white;
    font-family: verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}


