#Código para ocultar a palavra index.php
#Utilizamos esta estrutura para deixar uma url mais amigável na chamada da API
    RewriteEngine On
    Options All -Indexes

    DirectoryIndex index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) http://localhost/ds2t20212/welington/ProjetoPinceruGames/admin/api/index.php?url=$1 [QSA,L]