*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 200px;
    background-color: #161b22;
}

#conteudoCabecalho{
    width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 50px;
}

#conteudoEsquerdo{
    width: 300px;
    height: 100px;
    float: left;
}

#linhaSuperior{
    width: inherit;
    height: 50px;
    color: white;
    font-family: verdana;
}

#cms{
    height: inherit;
    width: 40%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

#titulo{
    height: inherit;
    width: 60%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#linhaInferior{
    width: inherit;
    height: 50px;
    color: white;
    font-family: verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid white;
    box-sizing: border-box;
}

#conteudoDireito{
    width: 155px;
    height: 120px;
}

#logo{
    width: 155px;
    height: 120px;
}

main{
    width: 100%;
    min-height: 300px;
    height: auto;
    overflow: hidden;
    background-color: #26446E;
    padding-bottom: 30px;
}

#faixaMenu{
    width: 100%;
    height: 150px;
    background-color: #15243B;
}

#conteudoFaixaMenu{
    width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

a{
    text-decoration: none;
}

.itemMenu{
    width: 140px;
    height: 100px;
    margin: 5px;
    box-sizing: border-box;
    margin-left: 30px;
}

.itemMenu:hover{
    cursor: pointer;
}

.iconMenu{
    width: 65px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.imgIcon{
    width: 65px;
    height: 65px;
}

.opcaoMenu{
    width: 100%;
    height: 35px;
    color: white;
    font-family: verdana;
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
}

#usuario{
    width: 560px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#mensagem{
    width: 400px;
    height: 30px;
    font-family: verdana;
    font-size: 0.9em;
    box-sizing: border-box;
    padding-top: 5px;
    padding-right: 5px;
    text-align: center;
    color: white;
}

#imagem{
    width: 100px;
    height: 90px;
    margin-right: 150px;
}

#imgPerfil{
    width: 90px;
    height: 90px;
}

#logout{
    width: 100px;
    height: 30px;
    margin-right: 150px;
    font-family: verdana;
    font-size: 0.9;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
}

.conteudoCadastro{
    width: 1200px;
    min-height: 50vh;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    width: 100%;
    height: 50px;
    color: white;
    font-family: verdana;
    box-sizing: border-box;
    margin: 20px
}

footer{
    width: 100%;
    height: 100px;
    background-color: #161b22;
    color: white;
    font-family: verdana;
}

.rodape{
    height: 100px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 30px;
}

.label{
    color: white;
    font-family: verdana;
    font-size: 1.2em;
    margin-left: 20px;
}

#labelCapa{
    color: white;
    font-family: verdana;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 20px;
}

.labelDestaque{
    color: white;
    font-family: verdana;
    font-size: 1.2em;
    margin-right: 15px;
}

.input{
    width: 300px;
    height: 25px;
    outline: none;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    font-family: verdana;
}

.botaoCadastrar{
    width: 80px;
    height: 25px;
    background-color: #161b22;
    font-family: verdana;
    color: white;
    border-style: hidden;
    margin-left: 10px;
}

.botaoCadastrar:hover{
    cursor: pointer;
    background-color: #15243B;
}

.crud{
    margin-top: 50px;
    min-height: 80px;
    height: auto;
    overflow: hidden;
    width: 1200px;
    box-sizing: border-box;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
}

.linhaTitulo{
    height: 40px;
    width: inherit;
    display: flex;
    border-bottom: 3px solid white;
    text-align: center;
    background-color: #15243B;;
}

.id{
    height: inherit;
    width: 20%;
    box-sizing: border-box;
}

.idContato{
    height: inherit;
    width: 10%;
    box-sizing: border-box;
}

.nome{
    height: inherit;
    width: 60%;
    box-sizing: border-box;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.nomeUsuario{
    height: inherit;
    width: 30%;
    box-sizing: border-box;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.login{
    height: inherit;
    width: 30%;
    box-sizing: border-box;
    border-right: 3px solid white;
}

.opcoes{
    height: inherit;
    width: 20%;
    box-sizing: border-box;
}

.nomeContato{
    height: inherit;
    width: 30%;
    box-sizing: border-box;
    border-right: 3px solid white;
    border-left: 3px solid white;
}

.numero{
    height: inherit;
    width: 25%;
    box-sizing: border-box;
    border-right: 3px solid white;
}

.email{
    height: inherit;
    width: 35%;
    box-sizing: border-box;
    border-right: 3px solid white;
}

.textoCrud{
    color: white;
    font-family: verdana;
    font-size: 1.2em;
    padding-top: 10px;
}

.linhaConteudo{
    height: 40px;
    width: inherit;
    display: flex;
    border-bottom: 3px solid white;
    text-align: center;
}

.iconCrud{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 2.5px;
}

.iconCrud:hover{
    cursor: pointer;
}

.separarInputs{
    margin-bottom: 20px;
}
